<p-dataTable #dt [value]="allTimesheetData" class="ui-g-12" 
sortField="startTime" sortOrder="1" emptyMessage="no entries found"
[reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="true"
[globalFilter]="tableSearch" exportFileNames="users" [editable]="true">
    <p-column field="user" header="User"></p-column>
    <p-column field="project" header="Project" [filter]="true"
    p-columnfilterPlaceHolder="Type a Project" 
    filterPlaceholder="Type a project"
    filterMatchMode="equals" [style]="{'overflow':'visible'}"
    [editable]="true" (onEditComplete)="onEditComplete($event)"
    ([selection])="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    [contextMenu]="tableContextMenu"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]"
    [totalRecords]="recordCount" [pageLinks]="8"></p-column>

    <p-column  selectionMode="multiple" styleClass="selectBoxColumn"></p-column>

    <ng-template pTemplate="filter" let-col>
        <p-dropdown [options]="allProjects" [style]="{'width':'100%'}"
        (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
        styleClass="ui-column-filter">
    </p-dropdown>
    </ng-template>
    <ng-template let-col let-project="rowData" pTemplate="editor">
        <p-dropdown [(ngModel)]="project[col.field]" 
        [options]="allProjects" [autoWidth]="false" [style]="{'width':'100%'}"
        required="true"></p-dropdown>
    </ng-template>
</p-column>
    <p-column field="category" header="Category"></p-column>
    <p-column field="startTime" header="Start Time" [sortable]="true"></p-column>
    <p-column field="endTime" header="End Time"></p-column>

    <p-footer>
        <label for="tableSearch">Search: </label>
        <input id="tableSearch" #tableSearch type="text" placeholder="Search All The Items">
    </p-footer>
    <button type="button" pButton icon="fa-table" label="Export"
    (click)="dt.exportCSV()" style="float:right;"></button>
</p-dataTable>

<p-contextMenu #tableContextMenu [mode]="contextMenu">

</p-contextMenu>